/*font colors*/
$primary-color: #000000;
$secondary-color: #ffcb05;
$panel-border-color: #ffc210;
$secondary-panel-border-color: #d8d8d8;
$link-color: #1a9eff;
$button-group-color: #0080ff;
$input-border: #c3c3c3;
$modal-button-link-color: #FF4181;
$error-color: #C92823;
$notification-badge-color: #FDC726;

/*font*/
$gotham-bold: Gotham Bold;
$gotham-book: Gotham Book;

/*font size*/
$global-font-size: 16px;

